<div>
  <div>{{starChips?.name}}</div>
  <div>{{starChips?.model}}</div>
  <div>{{starChips?.manufacturer}}</div>
  <div>{{starChips?.cost_in_credits}}</div>
  <div>{{starChips?.length}}</div>
  <div>{{starChips?.max_atmosphering_speed}}</div>
  <div>{{starChips?.crew}}</div>
  <div>{{starChips?.passengers}}</div>
  <div>{{starChips?.cargo_capacity}}</div>
  <div>{{starChips?.consumables}}</div>
  <div>{{starChips?.hyperdrive_rating}}</div>
  <div>{{starChips?.MGLT}}</div>
  <div>{{starChips?.starship_class}}</div>
</div>
